.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    margin: 80px 170px;
}

.services-title h1{
    padding: 0px 30px;
font-weight: 600;
font-size:80px;
}

.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}