.home{
    display:flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
}

.home img{
    margin-top: 100px;
    height: 150px;
    width:150px;
}

.home h1{
    text-align: center;
    width: 65%;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
}

.home h1 span{
    background:linear-gradient(220deg, #d5bdaf 36%, #f5ebe0 130%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home p{
    text-align: center;
    font-size: 24px;
    width: 50%;
    line-height: 40px;
}

.home-action{
    display: flex;
    align-items: center;
    gap:25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.home-connect{
    padding:20px 40px;
    background:linear-gradient(220deg, #d5bdaf 30%, #f5ebe0 60%);  
    border-radius:50px;
    cursor:pointer;
}

.home-resume{
    padding:20px 55px;
    border: 2px solid #fff;
    border-radius:50px;
    cursor:pointer;
}

.home-connect:hover{
    border: 2px solid #fff;
}

.home-resume:hover{
    border-color: #B923E1;
}
